<div class= "jumbotron">
  <h1>Valentine's Day!</h1>
  <p>"A quote about love" </p>

</div>
<br />

<p>
  <%= link_to 'New Message', new_message_path, class: 'btn btn-danger' %>
</p>

<br />
<br />

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Anonymous?</th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
    <tr>
      <td><%= message.title %></td>
      <td><%= message.author %></td>
      <td><%= message.anonymous %></td>
    </tr>
    <% end %>

  </tbody>


</table>

<br />
<br />
<%= image_tag 'choo.jpg', class: "img" %>
